.slider {
	
	background:#f8f8f8;
	
    .slider-item{
      width:1248px;
      margin:0 auto;
      height:462px;	
      margin-top:19px;
      background-position:bottom;
      background-repeat: no-repeat;
      background:#f8f8f8;
    }

}
 