@font-face {
	font-family: "open-sans-condensed-light";
	src: url("../fonts/open-sans-condensed-light.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/open-sans-condensed-light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PT_Sans.woff2") format('woff2'), 
  url("../fonts/PTSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;	
  src: url("../fonts/PTSans-Bold.woff2") format('woff2'),
  url("../fonts/PTSans-Bold.ttf") format("truetype"); 
 
}




@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PTSans-Italic.ttf") format('woff2'),
  url("../fonts/PTSans-Italic.ttf") format('truetype');
}